.root {
  @apply h-full mx-auto max-w-[2460px];
  /* background-color: var(--green); */
  background-color: theme('colors.green');
  color: theme('textColor.base');
  /* width: 500px; */
  /* height: 100%;
    margin-right: 500px;
    margin-left: 500px; */
}
